parameters:
	ignoreErrors:
		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/GoogleChromeParser.php

		-
			message: "#^Cannot access offset 'roots' on mixed\\.$#"
			count: 1
			path: src/GoogleChromeParser.php

		-
			message: "#^Parameter \\#1 \\$node of method BombenProdukt\\\\BookmarkParser\\\\GoogleChromeParser\\:\\:parseNode\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: src/GoogleChromeParser.php
